<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Option-Chain-NSE India</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
    />
    <style>
    td {
      text-align: center;
    }
    th {
      padding: 10px;
    }
    form {
    display: inline-block;
}
.box {
  width: 150px;
  height: 50px;
  border: solid 1px #e3e3e3;
  background-color: white;
  font-size: 18px;
  color: #e76d24;
  border-radius: 5px;
  padding: 5px;
  margin-right:10px;
}
.butn {
  width: 100px;
  height: 50px;
  background-color:#3c40a1;
  color: white;
  border-radius: 5px;

}
    </style>
</head>
<body>
<div style="padding: 50px">
    <h1 style="text-align:center;font-weight:bold;color:#3c40a1">NSE</h1>
    <h4 style="margin-left:200px;color:#3c40a1">Option Chain (Equity Derivatives)</h4>
    <div style="display: flex;margin-top: 40px">
    <p style="margin-left: 420px">Expiry Date</p>
    <p style="margin-left: 95px">Strike Price</p>
    </div>
    <div style="padding-left:200px">
    <form action="{% url 'get_data' %}" method="get">
        <select name="options" id="options" class="box">
            <option value="NIFTY" {% if "NIFTY" == yourOption %}selected="selected" {% endif %}>NIFTY</option>
            <option value="BANKNIFTY" {% if "BANKNIFTY" == yourOption %}selected="selected" {% endif %}>BANKNIFTY</option>
            <option value="FINNIFTY" {% if "FINNIFTY" == yourOption %}selected="selected" {% endif %}>FINNIFTY</option>
        </select>

        <select name="price" id="price" class="box" style="margin-left:50px">
          <option value="select">Select</option>
          <option value="6000" {% if "6000" == yourPrice %}selected="selected" {% endif %}>6000</option>
          <option value="7500" {% if "7500" == yourPrice %}selected="selected" {% endif %}>7500</option>
          <option value="7600" {% if "7600" == yourPrice %}selected="selected" {% endif %}>7600</option>
          <option value="8000" {% if "8000" == yourPrice %}selected="selected" {% endif %}>8000</option>
          <option value="8100" {% if "8100" == yourPrice %}selected="selected" {% endif %}>8100</option>
          <option value="8200" {% if "8200" == yourPrice %}selected="selected" {% endif %}>8200</option>
          <option value="8300" {% if "8300" == yourPrice %}selected="selected" {% endif %}>8300</option>
          <option value="8400" {% if "8400" == yourPrice %}selected="selected" {% endif %}>8400</option>
          <option value="8500" {% if "8500" == yourPrice %}selected="selected" {% endif %}>8500</option>
          <option value="8600" {% if "8600" == yourPrice %}selected="selected" {% endif %}>8600</option>
          <option value="8700" {% if "8700" == yourPrice %}selected="selected" {% endif %}>8700</option>
          <option value="8800" {% if "8800" == yourPrice %}selected="selected" {% endif %}>8800</option>
          <option value="8900" {% if "8900" == yourPrice %}selected="selected" {% endif %}>8900</option>
          <option value="9000" {% if "9000" == yourPrice %}selected="selected" {% endif %}>9000</option>
          <option value="9100" {% if "9100" == yourPrice %}selected="selected" {% endif %}>9100</option>
          <option value="9200" {% if "9200" == yourPrice %}selected="selected" {% endif %}>9200</option>
          <option value="9500" {% if "9500" == yourPrice %}selected="selected" {% endif %}>9500</option>
          <option value="9700" {% if "9700" == yourPrice %}selected="selected" {% endif %}>9700</option>
          <option value="9900" {% if "9900" == yourPrice %}selected="selected" {% endif %}>9900</option>
          <option value="10000" {% if "10000" == yourPrice %}selected="selected" {% endif %}>10000</option>
          <option value="18000" {% if "18000" == yourPrice %}selected="selected" {% endif %}>18000</option>
        </select>

        <span style="margin-right: 5px">OR</span>
        <select name="ex-date" id="ex-date" class="box">
          <option value="select">Select</option>
          <option value="17-Jun-2021" {% if "17-Jun-2021" == yourDate %}selected="selected" {% endif %}>17-Jun-2021</option>
          <option value="24-Jun-2021" {% if "24-Jun-2021" == yourDate %}selected="selected" {% endif %}>24-Jun-2021</option>
          <option value="1-Jul-2021" {% if "1-Jul-2021" == yourDate %}selected="selected" {% endif %}>1-Jul-2021</option>
          <option value="8-Jul-2021" {% if "8-Jul-2021" == yourDate %}selected="selected" {% endif %}>8-Jul-2021</option>
          <option value="15-Jul-2021" {% if "15-Jul-2021" == yourDate %}selected="selected" {% endif %}>15-Jul-2021</option>
          <option value="22-Jul-2021" {% if "22-Jul-2021" == yourDate %}selected="selected" {% endif %}>22-Jul-2021</option>
          <option value="29-Jul-2021" {% if "29-Jul-2021" == yourDate %}selected="selected" {% endif %}>29-Jul-2021</option>
          <option value="5-Aug-2021" {% if "5-Aug-2021" == yourDate %}selected="selected" {% endif %}>5-Aug-2021</option>
          <option value="12-Aug-2021" {% if "12-Aug-2021" == yourDate %}selected="selected" {% endif %}>12-Aug-2021</option>
          <option value="26-Aug-2021" {% if "26-Aug-2021" == yourDate %}selected="selected" {% endif %}>26-Aug-2021</option>
          <option value="30-Sep-2021" {% if "30-Sep-2021" == yourDate %}selected="selected" {% endif %}>30-Sep-2021</option>
          <option value="30-Dec-2021" {% if "30-Dec-2021" == yourDate %}selected="selected" {% endif %}>30-Dec-2021</option>
          <option value="31-Mar-2022" {% if "31-Mar-2022" == yourDate %}selected="selected" {% endif %}>31-Mar-2022</option>
          <option value="30-Jun-2022" {% if "30-Jun-2022" == yourDate %}selected="selected" {% endif %}>30-Jun-2022</option>
        </select>
        <input type="submit" class="butn" value="Filter"/>
    </form>
  </div>
    {% if check %}
    <h6 class="mt-3" style="text-align:center">Sorry,<span style="color:red"> {{oldOption}} </span>couldn't fetch</h6>
    {% endif %}
    <table
            class="table-bordered table-hover"
            style="width: 50%; margin: 20px auto;margin-top:40px "
    >
        <thead>
        <tr>
            <th
                    colspan="10"
                    style="
                text-align: center;
                background-color: #3c40a1;
                color: white;
              "
            >
                Calls
            </th>
            <th
                    colspan="11"
                    style="
                text-align: center;
                background-color: #3c40a1;
                color: white;
              "
            >
                Puts
            </th>
        </tr>
        </thead>
        <thead style="background-color: #3c40a1; color: white">
        <tr>
            <th>OI</th>
            <th>CHNG IN OI</th>
            <th>VOLUME</th>
            <th>IV</th>
            <th>LTP</th>
            <th>CHNG</th>
            <th>BID QTY</th>
            <th>BID PRICE</th>
            <th>ASK PRICE</th>
            <th>ASK QTY</th>
            <th>STRIKE PRICE</th>
            <th>BID QTY</th>
            <th>BID PRICE</th>
            <th>ASK PRICE</th>
            <th>ASK QTY</th>
            <th>CHNG</th>
            <th>LTP</th>
            <th>IV</th>
            <th>VOLUME</th>
            <th>CHNG IN OI</th>
            <th>OI</th>
        </tr>
        </thead>
        <tbody>
        {% for nse_ce,nse_pe in final %}
        <!--            <h1>{{nse_ce.openInterest}}</h1>-->
        <!--            <h1>Hello {{nse_pe.openInterest}}</h1>-->
        <tr>
          {% if nse_ce.openInterest == 0 %}
          <td>-</td>
          {% else %}
          <td>{{nse_ce.openInterest}}</td>
          {% endif %}

            {% if nse_ce.changeinOpenInterest == 0 %}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.changeinOpenInterest}}</td>
            {% endif %}

            {% if nse_ce.totalTradedVolume == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.totalTradedVolume}}</td>
            {% endif %}

            {% if nse_ce.impliedVolatility == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.impliedVolatility}}</td>
            {% endif %}

            {% if nse_ce.lastPrice == 0 %}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.lastPrice}}</td>
            {% endif %}

            {% if nse_ce.change == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.change}}</td>
            {% endif %}

            {% if nse_ce.bidQty == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.bidQty}}</td>
            {% endif %}

            {% if nse_ce.bidprice == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.bidprice}}</td>
            {% endif %}

            {% if nse_ce.askPrice == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.askPrice}}</td>
            {% endif %}

            {% if nse_ce.askQty == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_ce.askQty}}</td>
            {% endif %}

            {% if nse_pe.strikePrice == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.strikePrice}}</td>
            {% endif %}

            {% if nse_pe.bidQty == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.bidQty}}</td>
            {% endif %}

            {% if nse_pe.bidprice == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.bidprice}}</td>
            {% endif %}

            {% if nse_pe.askPrice == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.askPrice}}</td>
            {% endif %}

            {% if nse_pe.askQty == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.askQty}}</td>
            {% endif %}

            {% if nse_pe.change == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.change}}</td>
            {% endif %}

            {% if nse_pe.lastPrice == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.lastPrice}}</td>
            {% endif %}

            {% if nse_pe.impliedVolatility == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.impliedVolatility}}</td>
            {% endif %}

            {% if nse_pe.totalTradedVolume == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.totalTradedVolume}}</td>

            {% endif %}

            {% if nse_pe.changeinOpenInterest == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.changeinOpenInterest}}</td>

            {% endif %}

            {% if nse_pe.openInterest == 0%}
            <td>-</td>
            {% else %}
            <td>{{nse_pe.openInterest}}</td>

            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/script.js' %}"></script>
<script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"
></script>
</body>
</html>
